   
<!--bottom navigation-->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-primary">
    <h6 class="display-6 navbar-text" style="color: white;">&copy; Copyright 2020. All Rights Reserved.</h6>
  </nav>
</footer>