   
<!--bottom navigation-->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-primary">
    <h6 class="display-6 navbar-text" style="color: white;">&copy; Comp 231 Software Project 1 Group 001 W2021</h6>
  </nav>
</footer>