   
<!--bottom navigation-->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-primary">
    <h6 class="display-6 navbar-text" style="color: white;">&copy; W2021-COMP231-Software Project 1-Team 1</h6>
  </nav>
</footer>