<!--content for Home  Page-->
<% if ( title == 'Home' ) { %>
    <div class="body">
    
    <br>
        
        We provide you best Health care Services! <br><br>
        <h6>Developed by:</h6>
        Ashish Shokeen <br>
        Chandrika Rathna Karur <br>
        Frederick Charles Hesse Correa Garcia <br>
        Gargi Soni <br>
        Nusrat Ara Riaz <br>
        Riaz Ahmed <br>
        Supriya Kanda <br>
        Venkat babu Manchikalapudi<br><br><br>
        <h6>Professor: Bob Pajkowski, Centennial College.</h6>
        <br>
      </div>
    </div>
<% } %>

    <!--content for Services  Page-->
<% if ( title == 'Services' ) { %>
    <div class="body">
        <h6>Health Care services we provide: </h6>
        Patient Registration<br>Appointment Booking<br>Patient Checkup<br>Patient Treatment<br><br>
        <h6>Developed by:</h6>
        Ashish Shokeen <br>
        Chandrika Rathna Karur <br>
        Frederick Charles Hesse Correa Garcia <br>
        Gargi Soni <br>
        Nusrat Ara Riaz <br>
        Riaz Ahmed <br>
        Supriya Kanda <br>
        Venkat babu Manchikalapudi<br><br>
        <h6>Professor: Bob Pajkowski, Centennial College.</h6>
        <br><br><br>
      </div>
    </div>
    <% } %>