<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--CSS section-->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/Content/app.css">
</head>
<body>
  <!--Main Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Medical Clinic with EMR</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">

          <% if ((title == "Home") || (title == "/")) { %>
          <li class="nav-item active">
            <% } else { %>
             <li class="nav-item">
             <% } %>
            <a class="nav-link" href="/home">Home</a>
          </li>
          

          <% if (title == "Services") { %>
            <li class="nav-item active">
              <% } else { %>
              <li class="nav-item">
             <% } %>
            <a class="nav-link" href="/services">Services</a>
          </li>

          <% if (title == "Search Clinics") { %>
            <li class="nav-item active">
              <% } else { %>
              <li class="nav-item">
             <% } %>
            <a class="nav-link" href="/contact">Search Clinic</a>
          </li>

          <% if (title == "Register") { %>
            <li class="nav-item active">
              <% } else { %>
              <li class="nav-item">
             <% } %>
            <a class="nav-link" href="/register">Register</a>
          </li>

          <% if (title == "Login") { %>
            <li class="nav-item active">
            <% } else { %>
              <li class="nav-item">
              <% } %>
            <a class="nav-link" href="/login">Login</a>
          </li>
    </div>
  </nav>

  <!--Main Content-->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome! to the <%= title %></h1>
      
    </div>
  </main>
   
<!--bottom navigation-->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-primary">
    <h6 class="display-6 navbar-text" style="color: white;">&copy; Copyright 2020. All Rights Reserved.</h6>
  </nav>
</footer>

  <!--Script Section-->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>